*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

button:hover{
    background-color: rgb(101, 33, 165);
   
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-cambio{ 
    animation-name: cambio;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    }

    @keyframes cambio {
        0%   {color: blueviolet;}
        25%  {color: violet;}
        50%  {color: rgb(152, 48, 140);}
        75%  {color: rgb(39, 68, 124);}
        100% {color: aquamarine;}
      }

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 3em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

#home{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    )
    ,url("media/beach-family-gec2487cdb_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#home h1{
    color: white;
   
}

#home button{
    font-size: 1.75em;

}

#somos-playa .container{
    text-align: center;
    padding: 200px 12px;
}
#video{
    margin-top: 50px;
}

#nuestros-destinos{
    background-color: rgb(128, 126, 126);
    color: white;
    text-align: center;
}

#nuestros-destinos .container{
    padding: 150px 12px;
}

#nuestros-destinos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-destinos p{
    display: none;
}

#nuestros-destinos .carta{
    background-position: center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
#img{
    width: 100%;
    border-radius: 10px;

}


#reservas .container{
    text-align: center;
    padding: 250px 12px;
}

#reservas li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(128, 126, 126);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}
 .marco {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px rgb(121, 47, 47); }
  
  .contenedor-formulario {
    width: 100%;
    color: #f2f2f2;
    padding: 50px; }
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="number"] {
          font-size: 16px;
          color: rgb(43, 44, 51);
          width: 100%;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: 2px solid #141618; }

      .contenedor-formulario .formulario .input-group-radio{
              color: black;

          }
      
        .contenedor-formulario .formulario .input-group label {
          color: #0e0e13; }
         
         
       
      .contenedor-formulario .formulario input[type="submit"] {
        background: blueviolet;
        border-radius: 1px;
        border: 2px solid #f2f2f2;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        padding: 15px;
        width: 100%;
        }
        .contenedor-formulario .formulario input[type="submit"]:hover {
          background: rgb(101, 33, 165); }

      #error{
          width: 100px;
          background-color: lightgray;
          color: red;
          margin: auto;
          margin-top: 15px;

          }
    
footer{
    background-color: rgb(69, 62, 62);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
footer .container .redes{
    margin-right: 350px;
    margin-bottom: 10px;
    padding: 20px;
    
   
}
footer .container button{
    font-size: 75%;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-playa .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-playa .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-playa h2{
        margin-top: 0px;
    }

    #somos-playa .img-container{
        background-image: url("media/beach-g6c1cb5ce0_1920.jpg");
        background-size: cover;
        background-position: center;
        height: 700px;
        width: 500px; 
        border-radius: 18px;
    }

    #nuestros-destinos .playas{
        display: flex;
        justify-content: center;
    }

    #nuestros-destinos p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-destinos h2{
        font-size: 4em;
    }

    #nuestros-destinos h3{
        margin-top: 30px;
    }

    #nuestros-destinos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(97, 94, 94, 0.1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }


    #reservas {
        background-image: url("media/beach-g71443df29_1920.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: right;
        margin-right: 100px;
     
    }

    #reservas .container{
        text-align: initial;
    }

    #reservas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}